<div class="sidebar-wrapper" data-layout="stroke-svg">
    <div class="logo-wrapper">
        <a href="index.html"><img class="img-fluid" src="~/admin/assets/images/logo/logo.png" alt=""></a>
        <div class="back-btn"><i class="fa fa-angle-left"> </i></div>
        <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="grid"> </i></div>
    </div>
    <div class="logo-icon-wrapper"><a href="index.html"><img class="img-fluid" src="~/admin/assets/images/logo/logo-icon.png" alt=""></a></div>
    <nav class="sidebar-main">
        <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
        <div id="sidebar-menu">
            <ul class="sidebar-links" id="simple-bar">
                <li class="back-btn">
                    <a asp-action="index" asp-controller="dashboard"><img class="img-fluid" src="~/admin/assets/images/logo/logo-icon.png" alt=""></a>
                    <div class="mobile-back text-end"> <span>Back </span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i></div>
                </li>
                <li class="pin-title sidebar-main-title">
                    <div>
                        <h6>Pinned</h6>
                    </div>
                </li>
                <li class="sidebar-main-title">
                    <div>
                        <h6 class="lan-1">General</h6>
                    </div>
                </li>
                <li class="sidebar-list">
                    <i class="fa fa-thumb-tack"> </i><a class="sidebar-link sidebar-title" asp-action="index" asp-controller="dashboard">
                        <i style="color:white" class="fa-solid fa-user"></i><span class="lan-3">Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-main-title">
                    <div>
                        <h6 class="lan-8">Applications</h6>
                    </div>
                </li>
                <li class="sidebar-list">
                    <i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title" href="#">
                        <i style="color:white" class="fa-solid fa-user"></i><span>Users</span>
                    </a>
                    <ul class="sidebar-submenu">
                        <li><a href="user-profile.html">Users Profile</a></li>
                        <li><a href="edit-profile.html">Users Edit</a></li>
                        <li><a href="user-cards.html">Users Cards</a></li>
                    </ul>
                </li>
                <li class="sidebar-list">
                    <i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title" href="#">
                        <i style="color:white" class="fa-solid fa-user"></i><span>Event</span>
                    </a>
                    <ul class="sidebar-submenu">
                        <li><a asp-action="index" asp-controller="event">Events</a></li>
                        <li><a asp-action="index" asp-controller="schedule">Event Scedules</a></li>
                        <li><a asp-action="index" asp-controller="package">Event Packages</a></li>
                    </ul>
                </li>
                <li class="sidebar-list">
                    <i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" asp-action="index" asp-controller="order">
                        <i style="color:white" class="fa-solid fa-user"></i> <span>Orders</span>
                    </a>
                </li>
                <li class="sidebar-list">
                    <i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" asp-action="index" asp-controller="setting">
                        <i style="color:white" class="fa-solid fa-user"></i> <span>Website Settings</span>
                    </a>
                </li>
               
                <li class="sidebar-main-title">
                    <div>
                        <h6>Pages</h6>
                    </div>
                </li>
              
                <li class="sidebar-list">
                    <i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title"href="#">
                        <i style="color:white" class="fa-solid fa-user"></i><span>About Us</span>
                    </a>
                    <ul class="sidebar-submenu">
                        <li><a asp-action="award" asp-controller="about">About Awards</a></li>
                        <li><a asp-action="advantage" asp-controller="about">About Advantages</a></li>
                    </ul>
                </li>
                <li class="sidebar-list">
                    <i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title" asp-action="index" asp-controller="speaker">
                        <i style="color:white" class="fa-solid fa-user"></i><span>Speakers</span>
                    </a>
                </li>

                <li class="sidebar-list">
                    <i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title" href="#">
                        <i style="color:white" class="fa-solid fa-user"></i><span>Blog</span>
                    </a>
                    <ul class="sidebar-submenu">
                        <li><a asp-action="index" asp-controller="blog">Blog Details</a></li>
                        <li><a asp-action="index" asp-controller="blog">Deleted Blogs</a></li>
                        <li><a asp-action="index" asp-controller="blog">Posted Blogs</a></li>
                    </ul>
                </li>
                <li class="sidebar-main-title">
                    <div>
                        <h6>Miscellaneous</h6>
                    </div>
                </li>
                <li class="sidebar-list">
                    <i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title" href="#">
                        <i style="color:white" class="fa-solid fa-user"></i><span>Gallery</span>
                    </a>
                    <ul class="sidebar-submenu">
                        <li><a asp-action="index" asp-controller="gallery">All Info</a></li>
                        <li><a asp-action="index" asp-controller="gallery">Masonry with Desc</a></li>
                    </ul>
                </li>
            
                <li class="sidebar-list">
                    <i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" href="#">
                        <i style="color:white" class="fa-solid fa-user"></i><span>FAQ</span>
                    </a>
                    <ul class="sidebar-submenu">
                        <li><a asp-action="index" asp-controller="faq">FAQs</a></li>
                        <li><a asp-action="index" asp-controller="faqcontent">FAQ Contents</a></li>
                    </ul>
                </li>
            </ul>
            <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
        </div>
    </nav>
</div>